<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sedan:ital@0;1&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10+Charted&family=Manrope:wght@200..800&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sedan:ital@0;1&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10+Charted&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sedan:ital@0;1&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/myprofile.css">
</head>
<body>
    <div class="wrapper">
        <div class="profile-grid">
            <div class="profile-grid-row_1-grid" style="background-color: rgb(242, 255, 216); margin-bottom: 5px;">
                <div class="profile-grid-row_1-grid-col_1"><span class="uni">Uni</span><span class="link">Link</span></div>
                <div class="profile-grid-row_1-grid-col_2">
                    <a href="rick"><center>Currently Supported Universities</center></a>
                    <center>No Ads! No business!! Just people!!!</center>
                </div>
            </div>
            <div class="profile-grid-row_2-grid">
                <div class="profile-grid-row_2-grid-col_1-grid">
                    <div class="profile-grid-row_2-grid-col_1-grid-row_1">
                        <img src="/profilePictures/default.png" class="profile-image">
                    </div>
                    <div class="profile-grid-row_2-grid-col_1-grid-row_2">
                        <!-- <button class="btn-friends">Be Friends! &#x1F44D;</button> -->
                    </div>
                    <div class="profile-grid-row_2-grid-col_1-grid-row_3">
                        <!-- <button class="btn-text">Text em!</button> -->
                    </div>
                    <div class="profile-grid-row_2-grid-col_1-grid-row_4">
                        <!-- <textarea class="input-anon"  placeholder="Type something to send anonymously...(Don't forget to be nice :D)" maxlength="500"></textarea> -->
                    </div>
                    <div class="profile-grid-row_2-grid-col_1-grid-row_5">
                        <a href="/users/{{_id}}?edit=true"><button class="btn-sendanon" type="submit">Edit profile</button></a>
                    </div>
                </div>
                <div class="profile-grid-row_2-grid-col_2-grid">
                    <div class="profile-grid-row_2-grid-col_2-grid-row1-grid">
                        <div class="profile-grid-row_2-grid-col_2-grid-row1-grid-col1">
                        </div>
                        <div class="profile-grid-row_2-grid-col_2-grid-row1-grid-col2">
                            <table>
                                <tr><td><b>Basic Info:</b></td><td> </td></tr>
                                <tr><td> </td><td> </td></tr>
                                <tr><td>Name:</td><td>{{name}}</td></tr>
                                <tr><td>Age:</td><td>{{age}}</td></tr>
                                <tr><td>University:</td><td>{{university}}</td></tr>
                                <tr><td>Major:</td><td>{{major}}</td></tr>
                                <tr><td>Batch:</td><td>{{batch}}</td></tr>
                                <tr><td>Relationship status:</td><td>{{relationship}}</td></tr>
                                <tr><td>Gender:</td><td>{{gender}}</td></tr>
                            </table>
                        </div>
                    </div>
                    <div class="profile-grid-row_2-grid-col_2-grid-row2-grid">
                        <div class="profile-grid-row_2-grid-col_2-grid-row2-grid-col1">
                            <table>
                                <tr><td><b>Account Info:</b></td><td> </td></tr>
                                <tr><td> </td><td> </td></tr>
                                <tr><td>Username:</td><td>{{username}}</td></tr>
                                <tr><td>Member since:</td><td>{{dateofcreation}}</td></tr>
                                <tr><td>Last online:</td><td>{{lastonlinedate}}</td></tr>
                            </table>
                        </div>
                        <div class="profile-grid-row_2-grid-col_2-grid-row2-grid-col2">
                            <table>
                                <tr><td><b>Additional Info:</b></td><td> </td></tr>
                                <tr><td> </td><td> </td></tr>
                                <tr><td>Contact No:</td><td>{{contact}}</td></tr>
                                <tr><td>Uni email:</td><td>{{email}}</td></tr>
                                <tr><td>Personal email:</td><td>{{personalEmail}}</td></tr>
                                <tr><td>Website:</td><td>{{website}}</td></tr>
                                <tr><td>Interested in:</td><td>{{interestedIn}}</td></tr>
                                <tr><td>Date of birth:</td><td>{{dateOfBirth}}</td></tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-grid-row_3" style="background-color: rgba(100, 152, 225, 0.989); color: white; margin-top: 5px;">
                <span class="copyright">&#169; 2024 '4,', Inc.</span> 
                <span class="dot">&#183;</span>
                <span class="contact">Contact</span> 
                <span class="dot">&#183;</span>
                <span class="privacy">Privacy Policy</span> 
                <span class="dot">&#183;</span>
                <span class="terms">Terms & Conditions</span> 
                <br><br>
                <span class="slogan">A 4, production</span>
            </div>
        </div>
    </div>
</body>
</html>